.course-card-template {
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 300px;
    box-shadow: 0 3px 8px rgba(34, 4, 90, 0.122);
    background-color: #f8f4ff; 
    transition: all 0.3s ease;
    overflow: visible;
}

.course-card-template:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

/* Image container styles */
.course-image-container {
    border: 1px solid #dbd2f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 15px 10px 15px;
    height: 250px;
    width: 270px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}
.course-image-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    overflow: hidden;
}

/* Course info styles */
.joined-courses-container h3, 
.joined-courses-container p {
    color: #0E276A;
    font-family: "Inter", sans-serif;
}

.joined-courses-container p {
    color: #350d51ca;
}

.course-info-container {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 15px 15px;
    flex: 1;
}

.course-title-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.course-title-progress h3,
.course-title-progress p {
    margin: 0;
}

.course-title {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  text-overflow: ellipsis;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
}

.course-title-progress p {
  font-size: 0.9rem;
  color: #7733a5ba;
}

.course-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
    flex-grow: 1;
}

.course-card-template {
    display: none;
    margin: 0;
    line-height: 1.4;
}

.course-progress {
    white-space: nowrap;
}

.course-info-container,
.course-title-progress,
.course-card-template {
  overflow: visible;
  position: relative;
}

.dynamic-tooltip {
  position: absolute;
  display: none;
  background-color: rgba(53, 13, 81, 0.9);
  color: #fff;
  font-size: 0.75rem;
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 999999;
  pointer-events: none;
}

