/* Course Navigations*/
.course-overview {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.course-navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
}

.course-tab h3{
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #350d51ca;
    font-weight: 600;
    font-size: clamp(.6rem, 2vw, 1.2rem);
}
.course-tab {
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    flex: 1;
    cursor: pointer;
    width: 160px;
    text-align: center;
    min-width: 100px;
}

.course-tab:hover {
    border-bottom: 2px solid #350d51ca;
    transition: border-color 0.2s ease;
}

.course-tab:hover:not(.active) {
    border-bottom: 2px solid #7756a2cb; /* lighter color so user knows it's hover */
}

.course-tab.active {
    border-bottom: 2px solid #350d51ca;
    font-weight: 700;
    color: #350d51ca;
}

/* Course Content */
.course-content {
    text-align: justify;
    margin: 20px 50px 20px 50px;
}

.course-content p {
    color: #47156c;
    font-family: "Inter", sans-serif;
}

#course-gains p {
    margin-left: 1.5rem;
    white-space: pre-line;
    text-indent: -1.5rem;
}

#course-gains p::before {
    content: "•";
    margin-right: 0.5rem;
    color: #4a2d96;
}

/* Course Actions */
.course-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 50px 20px 50px;
}

.btn-container {
    width: 400px;
}

#view-leaderboard-btn {
    width: 100%;
    background-color: white;
    border: 1px solid #350d51ca;
    color: #350d51ca;
}

#start-activity-btn {
    width: 100%;
}

.btn-container button:hover {
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#course-description-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #350d51;
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
}

#course-title {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    color: #350d51;
    font-weight: 400;
    margin-bottom: 10px;
}

.course-description {
    min-height: 450px;
}